@charset "UTF-8";

/* -----------------------------------------------------------------

 ページ内 共通指定

------------------------------------------------------------------- */
#home .sec_title {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  position: relative;
  padding-top: 1rem;
}
#home .sec_title:after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #499cbf;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -50px;
}
@media screen and (max-width: 800px) {
  #home .sec_title {
    font-size: 1.4rem;
  }
}


/* -----------------------------------------------------------------

 イントロダクション

------------------------------------------------------------------- */
#home .introduction {
  background: url(../images/mainimages.png) center center / cover no-repeat;
  height: 580px;
  text-align: center;
  position: relative;
  color: #fff;
}
#home .introduction:before {
  content: "";
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#home .introduction .textbox {
  position: relative;
  padding: 4.5rem 0 0;
}
#home .introduction .textbox h1 {
  font-size: 2.3rem;
  -moz-text-shadow: 0px 0px 8px #555; /* Firefox用 */
  -webkit-text-shadow: 0px 0px 8px #555; /* Safari,Google Chrome用 */
  text-shadow: 0 0 8px #555;
}
#home .introduction .textbox p {
  padding: 3rem 0 0;
  -moz-text-shadow: 0px 0px 8px #555; /* Firefox用 */
  -webkit-text-shadow: 0px 0px 8px #555; /* Safari,Google Chrome用 */
  text-shadow: 0 0 8px #555;
}
@media screen and (max-width: 800px) {
  #home .introduction {
    height: auto;
    text-align: center;
    position: relative;
    color: #fff;
  }
  #home .introduction .textbox {
    padding: 2.5rem 0 0;
  }
  #home .introduction .textbox h1 {
    font-size: 1.5rem;
    padding: 0 2rem;
  }
  #home .introduction .textbox p {
    padding: 1.5rem 1rem 7rem;
  }
}


/* -----------------------------------------------------------------

 企業理念

------------------------------------------------------------------- */
#home .philosophy {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 8rem 0;
}
#home .philosophy h2 {
  display: inline-block;
  font-size: 2.3rem;
  padding: 0 2rem;
  position: relative;
}
#home .philosophy h2:after {
  content: "";
  width: 740px;
  height: 1px;
  background-color: #333;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -370px;
}
#home .philosophy p {
  padding: 3rem 0 0;
}
@media screen and (max-width: 800px) {
  #home .philosophy {
    width: 100%;
    padding: 3rem 0;
  }
  #home .philosophy h2 {
    font-size: 1.3rem;
    line-height: 1.4;
      padding: 0;
  }
  #home .philosophy h2:after {
    content: "";
    width: 100%;
    height: 1px;
    margin-left: -50%;
  }
  #home .philosophy p {
    font-size: 0.9rem;
    padding: 2rem 1rem 0;
  }
}


/* -----------------------------------------------------------------

 サービス/事業内容

------------------------------------------------------------------- */
#home .service {
  background-color: #ebf3f3;
  padding: 3.5rem 0 4.5rem;
  position: relative;
}
#home .service:before {
  content: "";
  position: absolute;
  bottom: -2.8rem;
  left: 50%;
  margin-left: -5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3rem 5rem 0 5rem;
  border-color: #ebf3f3 transparent transparent transparent;
}

#home .service .textbox {
  width: 980px;
  margin: 0 auto;
}
#home .service .service_contents {
  padding: 0 1rem;
}
#home .service .service_contents h3 {
  margin: 3rem auto 0;
  padding: .7rem 0 .6rem;
  width: 800px;
  font-size: 1.6rem;
  text-align: center;
  color: #499cbf;
  border: 1px solid #499cbf;
  font-weight: bold;
}
#home .service .service_contents .service_text_support {
  text-align: center;
}
#home .service .service_contents p {
  margin: 1rem 0 0;
  line-height: 1.5;
  color: #666;
}
#home .service .service_contents .service_trouble {
  width: 800px;
  margin: 1.5rem auto;
  padding: 1rem 1rem 2rem 2rem;
  border-radius: 10px;
  background: url(../images/service_images01.png) no-repeat 450px 15px #f7fcfc;
  background-size: 42%;
}
#home .service .service_contents .service_trouble_balloon {
  border-left: 5px solid #499cbf;
  margin: .5rem 0 1.2rem;
  padding: 0 0 0 .5rem;
  color: #499cbf;
  font-weight: bold;
  font-size: 110%;
}
#home .service .service_contents .service_list li {
  font-weight: bold;
  margin: .2rem 0;
  padding: 0 0 0 1em;
  position: relative;
}
#home .service .service_contents .service_list li:before {
  content: "・";
  position: absolute;
  left: -0.2em;
}
#home .service .service_contents .service_point {
  width: 415px;
  text-align: center;
  font-size: 130%;
  position: relative;
  margin: 3.8rem 0 0;
  font-weight: bold;
  color: #333;
}
#home .service .service_contents .service_point:before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 50%;
  margin-left: -1.9rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5rem solid transparent;
  border-top: 1.5rem solid #a2b9c2;
}
#home .service .service_contents .service_point span {
  background: linear-gradient(transparent 60%, #f4aba8 0%);
}
#home .service .service_contents .service_point .text_service_point01 {
  padding: 0 0 0 1.8rem;
}
#home .service .service_contents .service_point .text_service_point02 {
  padding: 0 1.8rem 0 0;
}
#home .service .service_contents .service_merit {
  width: 800px;
  margin: 3.5rem auto 2.5rem;
  font-size: 115%;
  font-weight: bold;
}
#home .service .service_contents .service_merit b {
  font-size: 125%;
  color: #499cbf;
}
#home .service .service_contents .service_merit .service_item {
  position: relative;
  margin: 1rem 0;
  padding-left: 1.5rem;
}
#home .service .service_contents .service_merit .service_item:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  top: 11px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #666;
}
#home .service .service_contents .service_merit .service_item:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  top: 14px;
  left: 7px;
  width: 7px;
  height: 12px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  border-bottom: 3px solid #666;
  border-right: 3px solid #666;
}
#home .service .service_contents .service_contact {
  background-color: #fff;
  width: 800px;
  margin: 0 auto;
  border: 1px solid #499cbf;
  font-weight: bold;
  font-size: 130%;
  color: #333;
}
#home .service .service_contents .service_contact .important {
  background: linear-gradient(transparent 60%, #f4aba8 0%);
}
#home .service .service_contents .service_contact .catch {
  background-color: #499cbf;
  color: #fff;
  margin-right: .8rem;
  padding: .5rem .8rem;
  display: inline-block;
}
#home .service .service_contents .service_contact_attention {
  width: 800px;
  margin: .8rem auto 0;
  text-align: right;
  font-size: 90%;
}
@media screen and (max-width: 800px) {
  #home .service {
    padding: 2rem 0 2.5rem;
    position: relative;
  }
  #home .service:before {
    content: "";
    position: absolute;
    bottom: -2.8rem;
    left: 50%;
    margin-left: -5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 5rem 0 5rem;
    border-color: #ebf3f3 transparent transparent transparent;
  }
  #home .service .textbox {
    width: 100%;
  }
  #home .service .service_contents {
    padding: 0 1rem;
  }
  #home .service .service_contents h3 {
    padding: .7rem 1rem .6rem;
    width: 100%;
    line-height: 1.4;
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }
  #home .service .service_contents .service_text_support {
    font-size: 0.9rem;
    text-align: left;
  }
  #home .service .service_contents .service_trouble {
    width: 100%;
    margin: 1.5rem auto;
    padding: 1rem 1rem 2rem;
    background-image: none;
    background-size: 40%;
  }
  #home .service .service_contents .service_list li {
    margin: 1rem 0;
    line-height: 1.4;
    font-weight: normal;
    padding-left: 0;
  }
  #home .service .service_contents .service_list .sp_icon01:before,
  #home .service .service_contents .service_list .sp_icon02:before,
  #home .service .service_contents .service_list .sp_icon03:before {
    content: "";
    position: static;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/bg_icon.png) no-repeat 0 0;
    background-size: 320%;
    vertical-align: middle;
  }
  #home .service .service_contents .service_list .sp_icon02:before {
    background-position: -44px 0;
  }
  #home .service .service_contents .service_list .sp_icon03:before {
    background-position: -88px 0;
  }
  #home .service .service_contents .service_list .sp_icon01 span,
  #home .service .service_contents .service_list .sp_icon02 span,
  #home .service .service_contents .service_list .sp_icon03 span {
    display: inline-block;
    padding-left: 5px;
    width: 83%;
    vertical-align: middle;
  }
  #home .service .service_contents .service_point {
    width: 100%;
    margin: 3rem 0 0;
    font-size: 1.3rem;
  }
  #home .service .service_contents .service_point:before {
    top: -2.2rem;
  }
  #home .service .service_contents .service_point span {
    background: linear-gradient(transparent 60%, #f4aba8 0%);
  }
  #home .service .service_contents .service_point .text_service_point01 {
    padding: 0 1rem;
  }
  #home .service .service_contents .service_point .text_service_point02 {
    padding: 0 1rem;
  }
  #home .service .service_contents .service_point .sp_newline {
    margin: 0.6rem auto 0;
    width: 11em;
  }
  #home .service .service_contents .service_merit {
    width: 100%;
    margin: 2.5rem auto;
    font-size: 1rem;
  }
  #home .service .service_contents .service_merit b {
    font-size: 1.12rem;
    line-height: 1.2;
  }
  #home .service .service_contents .service_merit .service_item {
    position: relative;
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  #home .service .service_contents .service_merit .service_item:before {
    top: 2px;
  }
  #home .service .service_contents .service_merit .service_item:after {
    top: 5px;
  }
  #home .service .service_contents .service_contact {
    width: 100%;
    font-size: 1.1rem;
  }
  #home .service .service_contents .service_contact .important {
    background: linear-gradient(transparent 60%, #f4aba8 0%);
  }
  #home .service .service_contents .service_contact .catch {
    display: block;
    margin-right: 0;
    padding: .4rem .8rem .3rem;
    text-align: center;
  }
  #home .service .service_contents .service_contact .sp_contact_text {
    display: block;
    padding: .5rem .8rem;
    font-size: 1.1rem;
  }
  #home .service .service_contents .service_contact_attention {
    width: 100%;
    margin: .3rem auto 0;
    text-align: left;
  }
}


/* -----------------------------------------------------------------

 お問い合わせ

------------------------------------------------------------------- */
#home .contact {
  padding: 3.5rem 0 5.5rem;
  width: 800px;
  margin: 0 auto;
}
#home .contact dl {
  padding: 1.5rem 1rem 0;
}
#home .contact dl dt {
  width: 160px;
  display: inline-block;
  vertical-align: middle;
  margin: 1.5rem 0 0;
}
#home .contact dl dd {
  width: 600px;
  display: inline-block;
  vertical-align: middle;
  margin: 1.5rem 0 0;
}
#home .contact dl dd input[type="text"] {
  margin: 0;
  padding: 18px 10px;
  border: 0;
  background-color: #f4f9f9;
  outline: 0;
  width: 600px;
  font-size: 15px;
}
#home .contact dl dd textarea {
  margin: 0;
  padding: 18px 10px;
  border: 0;
  background-color: #f4f9f9;
  outline: 0;
  width:  600px;
  font-size: 15px;
}
#home .contact .contact_buttonarea {
  text-align: center;
}
#home .contact .contact_buttonarea input {
  margin: 45px 0 0;
  border: 0;
  padding: 18px 10px;
  width: 300px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
#home .contact .contact_buttonarea .btn_send {
  background-color: #F8B603;
}
#home .contact .contact_buttonarea .btn_send:hover {
  background-color: #FFCD45;
}
#home .contact .contact_buttonarea .btn_disabled {
  background-color: #FFEAAF;
  cursor: default;
}
@media screen and (max-width: 800px) {
  #home .contact {
    width: 100%;
    padding: 3.5rem 0;
  }
  #home .contact dl dt {
    width: 100%;
    display: block;
    margin: 1rem 0 0;
  }
  #home .contact dl dd {
    width: 100%;
    display: block;
    margin: 0;
  }
  #home .contact dl dd input[type="text"] {
    width: 100%;
    padding: 0.9rem 0.8rem 1rem;
  }
  #home .contact dl dd textarea {
    width: 100%;
    padding: 0.9rem 0.8rem 1rem;
  }
  #home .contact .contact_buttonarea input {
    margin: 30px 0 0;
    padding: 15px 10px;
    width: 70%;
  }
}


/* -----------------------------------------------------------------

 会社概要

------------------------------------------------------------------- */
#home .information {
  background-color: #ebf3f3;
  padding: 3.5rem 0 5rem;
  font-size: 82%;
}
#home .information .textbox {
  width: 800px;
  margin: 3rem auto 0;
}
#home .information .information_list {
  width: 100%;
  display: table;
}
#home .information .information_list .information_item {
  width: 24%;
  padding: 1% 4%;
  background-color: #f7f9fa;
  border-bottom: 8px solid  #ebf3f3;
  text-align: left;
  display: table-cell;
}
#home .information .information_list .information_detalis {
  padding: 1% 4%;
  background-color: #f7f9fa;
  border-bottom: 8px solid  #ebf3f3;
  display: table-cell;
}
@media only screen and (max-width: 800px) {
  #home .information {
    padding: 2rem 0 3rem;
    font-size: 0.8rem;
  }
  #home .information .textbox {
    width: 100%;
  }
  #home .information .textbox dl {
    margin: 3rem 1rem 0;
  }
  #home .information .information_list {
    width: 100%;
    display: table;
  }
  #home .information .information_list .information_item {
    width: 22%;
    padding: 1% 2%;
  }
  #home .information .information_list .information_detalis {
    width: 70%;
    padding: 1% 2%;
  }
}


@media only screen and (max-width: 800px) {
  body {
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
}
