body {
    font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    padding: 10px 0;
}

img.logo {
    max-width: 100%;
    max-height: 200px;
    margin: -2em 0;
}

table {
	width: 100%;
    max-width: 700px;
    margin: 0 auto;
	border-collapse: collapse;
}

tr:nth-child(1) th {
    border-top: rgb(105,108,118) 4px solid;
}

tr:nth-child(1) td {
    border-top: rgb(0,175,196) 4px solid;
}

th {
	border-bottom: #e3e3e3 1px solid;
	border-left: #e3e3e3 1px solid;
	text-align: left;
	background: #f7f7f7;
	padding: 10px;
	font-weight: normal;
    min-width: 7em;
}

td {
	border-bottom: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	text-align: left;
	padding: 10px;
}

